/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Share+Tech&display=swap');

@import "tailwindcss";


:root {
--main-padding:15px;

}


body {
  font-family: Arial, Helvetica, sans-serif , "Share Tech";
  font-weight: 400;
  font-style: normal;
/* background: #e6e6e662; */
/* background-image: linear-gradient(135deg, #f5f7fa 0%, #e4ebf5 100%);
 */
background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
direction: rtl;
}

.title{
  font-size:24px;
  font-weight:800;
  line-height: 42px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
width: 150px;
text-align: center;
border-radius: 5px;
margin-bottom: 25px;
}

.card{
  background-color: white;
box-shadow: 0 8px 24px rgba(0,0,0,0.18), 0 4px 10px rgba(0,0,0,0.12);

}

/* .proj:not(:last-child){
border-bottom: 1px solid #d1d5dc;
} */

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-font-size{
  font-size: 20px;
}

.sub-font-size{
  font-size: 18px;
}

.arabic-text{
  text-align: right;
  color: #1e2939;
}